.approach
    &__image
        @extend .interviews__image

    &__title
        @extend .not__title

    &__slider
        @extend .interviews
        background-color: #fff
        color: #000
        grid-template-columns: 626px auto

    &__block
        @extend .interviews__block

    &__green-square
        z-index: 2
