.impressions
    position: relative
    column-gap: 0

    &__right
        height: 770px
        padding-top: 110px

    &__title
        @extend .up__title
        font-size: 64px
        margin-bottom: 40px

    &__lead
        margin-bottom: 24px

    &__plug
        @extend .experience__plug
        margin-top: 89px
