.impressions
    position: relative
    column-gap: 0
    background-image: url(../../../assets/images/Texture-inteviews1.png)
    background-blend-mode: multiply
    height: 770px
    display: grid
    align-items: center

    &__container.grid
        align-items: center

    &__title
        @extend .up__title
        font-size: clamp(40px, 64/1050*100vw, 64px)
        margin-bottom: 40px

    &__lead
        margin-bottom: 24px

    &__plug
        & + &
            margin-top: 89px

    &__svg
        position: absolute
        bottom: 0
        right: 0
        pointer-events: none

    &__list
        padding-bottom: 89px
        user-select: none

    &__right
        & > img
            width: 100%
