.interviews
    --height: 688px
    background-color: #126B89
    background-image: url("../../../assets/images/Texture-inteviews1.png")
    background-blend-mode: multiply
    color: #fff
    position: relative

    &__slide
        height: var(--height)
        padding: 0 80px
        position: relative
        overflow: hidden
        align-items: center

    &__image
        // position: absolute

    &__left
        position: relative
        transform: translateY(-17%)

    &__scroll
        height: var(--height)
        display: flex
        flex-direction: column
        row-gap: 2em
        padding-bottom: 200px
        & > *
            opacity: 0.5
            transition: opacity .2s
            z-index: 2
            &.current
                opacity: 1

    &__block
        margin-top: 24px
        & > .interviews__text + .interviews__text
            margin-top: 16px

    &__svg
        position: absolute
