.interviews1
    @extend .interviews
    height: 800px
    @media ($MOBILE)
        height: unset

    &__container
        @media($MOBILE)
            justify-items: center
            padding-top: 58px
            row-gap: 52px

    &__slide
        @extend .interviews__slide

    &__image
        @extend .interviews__image
        width: 100%
        & > img
            display: block
            width: 100%
            @media($MOBILE)
                width: 80%
                margin: 0 auto

    &__left
        width: min(516px, 100%)

    &__scroll
        height: var(--height)
        display: flex
        flex-direction: column
        row-gap: 2em
        padding-bottom: 200px
        & > *
            opacity: 0.5
            transition: opacity .2s
            &.current
                opacity: 1
        @media ($MOBILE)
            height: unset
            & > *
                opacity: 1

    &__block
        margin-top: 24px
        & > .interviews__text + .interviews__text
            margin-top: 16px

    &__svg[style]
        position: absolute
        background-position: 0 100%
        @media ($MOBILE)
            all: unset !important
