.interviews
    --height: 688px
    background-color: #126B89
    background-image: url("../../../assets/images/Texture-inteviews1.png")
    background-blend-mode: multiply
    color: #fff
    position: relative

    &__container.grid
        justify-items: center
        row-gap: 140px

    &__slide
        height: var(--height)
        padding: 0 80px
        position: relative
        overflow: hidden
        align-items: center

    &__image
        @media ($MOBILE)
            width: 100%

        // position: absolute

    &__left
        position: relative
        transform: translateY(-17%)
        transform: none
        margin: 50px 0 0

    &__scroll
        height: var(--height)
        display: flex
        flex-direction: column
        // row-gap: 2em
        padding-bottom: 200px
        & > *
            opacity: 0.5
            transition: opacity .2s
            z-index: 2
            &.current
                opacity: 1

        & > *:not(:has(.text-svg)) + *
            margin-top: 2em

        @media ($MOBILE)
            padding-bottom: 32px
            &.scroll
                height: auto
                overflow: unset
                & > *
                    opacity: 1

    &__block
        margin-top: 24px
        & > .interviews__text + .interviews__text
            margin-top: 16px

    &__svg.image-svg
        position: absolute
        @media ($MOBILE)
            height: min(495px, 66vh) !important

    &__img:nth-child(1)
        width: 100%

    &__img:nth-child(2)
        width: 80%
        @media ($MOBILE)
            left: calc(100/768*100vw) !important

    &__post > .text-svg
        display: none
        margin: 0 auto
        @media ($MOBILE)
            display: block

    &__post > .text-svg.svg-left
        position: absolute
        right: -8px
        transform: translateY(-100%)

        &#interviews1-pluses
            transform: translateY(-20%)

        &:has(.text-svg)
            padding: 0
