.interviews2
    @extend .interviews
    background-color: #fff
    color: #000
    overflow: hidden
    background-image: none
    padding: 125px 0

    // &__container.container
        // width: 100%

    &__slide
        @extend .interviews__slide

    &__title
        @extend .not__title

    &__scroll
        @extend .interviews__scroll
        height: 550px

    &__svg
        @extend .interviews__svg
