.not
    padding: 120px 80px
    position: relative
    background: url("../../../assets/images/Texture-inteviews1.png")
    overflow: hidden
    &__title
        @extend .impressions__title

    &__lead
        margin-bottom: 24px

    // &__image
        // border: 8px solid #fff

    &__right
        position: relative
        & > img
            width: 100%

    &__svg[src]
        position: absolute
        top: -210px
        right: -260px
        width: calc(720/1920*100vw)
        z-index: -1
