.not
    padding: 120px 80px
    position: relative
    background: url("../../../assets/images/Texture-inteviews1.png")

    &__title
        @extend .impressions__title

    &__lead
        margin-bottom: 24px

    &__image
        border: 8px solid #fff

    &__svg
        position: absolute
        top: 0
        right: 0
