.stats
    position: relative

    &__container.grid
        padding-bottom: 110px
        margin-top: 50px
        grid-template-columns: minmax(min-content,626px) auto
        grid-template-columns: repeat(2,1fr)
        align-items: center

    &__right
        display: flex
        justify-content: center
        align-items: center
        position: relative

    &__plug
        width: min(413px, 100%)
        height: 396px
        transform: rotate(-4deg)
        & > *
            position: absolute
            width: 100%

    &__list
        padding-left: 16px
        margin: 8px 0 16px

    &__top
        position: absolute
        top: -200px
        width: 100%
        height: calc(100% + 200px)

    &__science
        top: -70px
        left: -70px

    &__quotes
        position: absolute
        bottom: -110px
        right: 0px
        transform: rotate(-30deg)
        & > svg
            position: absolute
            fill: black !important
            bottom: 0px
            right: 22px
            & > path
                fill: black !important

    &__caption
        position: absolute
        bottom: -100px
        left: -70px
        transform: rotate(3deg)
        padding: 0
        font-weight: 900
        font-size: 64px
        font-family: sans-serif
        -webkit-text-stroke: 2px #c4c4c4
        -webkit-text-fill-color: transparent
        text-transform: uppercase
        letter-spacing: -0.03em
        line-height: 105%
        @media (width<1024px)
            bottom: -150px
