.stats
    position: relative
    padding-bottom: 110px
    &__plug
        width: 413px
        height: 396px
        transform: matrix(-1, 0.07, 0.07, 1, 0, 0)
        border: 8px solid #fff
        background: #777

    &__list
        padding-left: 16px
        margin: 8px 0 16px
