@import "@var"
.up
    position: relative
    background-color: #F7F7F7
    &__container
        padding-bottom: 114px
    &__back
        position: absolute
        top: 0
        left: 0
        width: 80%
        height: 100%
    //     z-index: 2
    //     background: url("../../../assets/images/back-top.png") no-repeat
    //     background-size: contain

    &__logo
        display: block
        padding: 40px 0 105px

    &__left
        padding-left: 80px

    &__text
        margin-top: 100px
        font-weight: 500
        font-size: 24px
        line-height: 36px
        width: min(96%,735px)

    &__strong
        font-weight: 700

    &__title
        font-weight: 800
        font-size: 140px
        line-height: 95%
        letter-spacing: -0.04em
        color: #249788
        +wid(735px)
        margin-left: 0

    &__ticket
        position: absolute
        top: 325px
        left: 525px
        background: #A5D936
        transform: rotate(6deg)
        width: 265px
        height: 190px
        display: flex
        justify-content: center
        align-items: center
        padding: 40px
        gap: 4px
        font-weight: 800
        font-size: 28px
        line-height: 120%
        text-align: center
        color: #fff

    &__img
        height: 100%
        position: absolute
        top: 0
        right: 0
