@import "@var"
$BREAKPOINT_TITLE: 999px
.up
    position: relative
    background-color: #F7F7F7
    background-image: url("../../../assets/images/tizer.png")
    background-repeat: no-repeat
    background-size: auto
    background-position: 100% 100%
    height: 800px
    @media ($MOBILE)
        background-image: none
        height: unset

    &__mobimg
        display: none
        width: 100%
        @media ($MOBILE)
            display: block

    &__svg
        position: absolute
        top: 0
        right: 0
        @media ($MOBILE)
            display: none

    &__container.container
        padding-bottom: 114px
        @media ($MOBILE)
            width: 100%
    &__back
        position: absolute
        top: 0
        left: 0
        width: 80%
        height: 100%
    //     z-index: 2
    //     background: url("../../../assets/images/back-top.png") no-repeat
    //     background-size: contain

    &__logo
        display: block
        padding: 40px 0 105px

    &__left
        padding-left: 80px

    &__text
        margin-top: 100px
        font-weight: 500
        font-size: 24px
        line-height: 36px
        width: min(90%,735px)
        transform: rotate(0)
        @media ($MOBILE)
            background: #126B89
            color: #fff
            padding: 32px 20px
            text-align: center
            font-size: 18px
            margin: -10% auto 0
            line-height: 28px

    &__strong
        font-weight: 700

    &__title
        font-weight: 800
        font-size: clamp(60px, 140/1150*100vw, 140px)
        line-height: 95%
        letter-spacing: -0.04em
        color: #249788
        +wid(735px)
        margin-left: 0
        position: relative
        @media (width < $BREAKPOINT_TITLE)
            display: flex
            flex-direction: column
            align-items: center
            justify-content: start
            text-align: center

    &__ticket
        position: absolute
        top: 143px
        left: 525px
        background: #A5D936
        transform: rotate(6deg)
        width: 265px
        height: 190px
        display: flex
        justify-content: center
        align-items: center
        padding: 40px
        gap: 4px
        font-weight: 800
        font-size: 28px
        line-height: 120%
        text-align: center
        color: #fff
        letter-spacing: normal
        @media (width < $BREAKPOINT_TITLE)
            position: static
            transform: rotate(-6deg)
            padding: 20px
            font-size: 24px
            width: 199px
            height: 150px

    &__img
        height: 100%
        position: absolute
        top: 0
        right: 0
