@import "./_import"
@import "@var"

*,*::after,*::before
    box-sizing: border-box
    margin: 0
    padding: 0

body
    +wid(1440px)
    font-family: Montserrat, sans-serif
    font-size: 20px
    font-weight: 400
    line-height: 30px
