section.impressions
    .impressions__container.container.grid
        .impressions__green-square.green-square.green-square--left-bottom
        .impressions__left
            h2.impressions__title Первые <wbr>впечатления
            .impressions__lead.lead
                strong В МГУ Саров 
                |готовят специалистов по физике, прикладной математике и фундаментальной информатике.

            p В МГУ Саров готовят специалистов по физике, прикладной математике и фундаментальной информатике.
            strong Общей сложности сегодня здесь учатся 107 студентов.

            ul.list 
                li.list-item Девушек среди них — около 35%.
                li.list-item 30 среди магистрантов.
                li.list-item 6 из 10 аспирантов.

        .impressions__right.scroll
            ul.impressions__list
                each i in ["../../../assets/images/impressions/Image 01.jpg","../../../assets/images/impressions/Image 02.jpg"]
                    li.impressions__plug
                        img(src=i)
                    
    img.impressions__svg(src="../../../assets/svg/science-rus.svg")