section.up 
    header.up__logo 
    main.up__main 
        .up__left
            h1.up__title  Девушки в науке
            .up__text
                strong.up__strong Многие по-прежнему считают научно-исследовательскую работу "мужской" задачей.
                p Особенно это касается фундаментальных областей физики и компьютерных наук
            .up__ticket глазами молодых ученых МГУ Саров
        .up__right